# Compiled Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.bin
*.o
*.a
*.log
*.app

# Ignore the built binary
amLazy

# Output of the go coverage tool
*.out

# Mac
.DS_Store

# Env
.env

# IDE files for Zed
.zed/
